In [3]:
#dataframe is the main object in pandas. it is used to represent data with rows and columns (tabular or excel spreadsheet like data)

#topics to be covered

#1. Creating dataframe
#2. Dealing with rows and columns 
#3. Operations:min,max,std,describe
#4. Conditional selection
#5. set_index

In [5]:
import pandas as pd
df=pd.read_csv(r"C:\Users\harsh\Downloads\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
#creation of df
#pd.Dataframe(weather_data)

In [7]:
df.shape

(6, 4)

In [8]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [10]:
df.tail(5)

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [12]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [14]:
df['event'] #df.event'

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [15]:
type(df['event'])

pandas.core.series.Series

In [16]:
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [18]:
df['temperature'].max()

35

In [19]:
df['temperature'].mean()

30.333333333333332

In [20]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [23]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [28]:
df[df.temperature==df['temperature'].max()][['day','temperature']]

        day  temperature
1  1/2/2017           35

In [51]:
df

   event  level_0  index  temperature  windspeed
0   Rain        0      0           32          6
1  Sunny        1      1           35          7
2   Snow        2      2           28          2
3   Snow        3      3           24          7
4   Rain        4      4           32          4
5  Sunny        5      5           31          2

RangeIndex(start=0, stop=6, step=1)

In [53]:
df.set_index('event', inplace =True)
df

       level_0  index  temperature  windspeed
event
Rain         0      0           32          6
Sunny        1      1           35          7
Snow         2      2           28          2
Snow         3      3           24          7
Rain         4      4           32          4
Sunny        5      5           31          2

In [54]:
df.loc['Snow']

       level_0  index  temperature  windspeed
event
Snow         2      2           28          2
Snow         3      3           24          7

In [55]:
df.reset_index(inplace=True)
df

   event  level_0  index  temperature  windspeed
0   Rain        0      0           32          6
1  Sunny        1      1           35          7
2   Snow        2      2           28          2
3   Snow        3      3           24          7
4   Rain        4      4           32          4
5  Sunny        5      5           31          2

In [56]:
df.set_index('event',inplace=True)
df
#You can set acc to column like day , to modify original one inplace = true

       level_0  index  temperature  windspeed
event
Rain         0      0           32          6
Sunny        1      1           35          7
Snow         2      2           28          2
Snow         3      3           24          7
Rain         4      4           32          4
Sunny        5      5           31          2

In [60]:
df.loc['Snow']

       level_0  index  temperature  windspeed
event
Snow         2      2           28          2
Snow         3      3           24          7

In [61]:
df

       level_0  index  temperature  windspeed
event
Rain         0      0           32          6
Sunny        1      1           35          7
Snow         2      2           28          2
Snow         3      3           24          7
Rain         4      4           32          4
Sunny        5      5           31          2